// Variables
$background-color: black;
$primary: #387eaf;
$primary2: #f2efed;
$zenScale: scale(1.2);
$bgimage: url(../assets/bg.jpg);
$logo: url(../assets/logo.png);
$font-biggruns :url("../Bigruns.ttf"); 
$fonts-min: 'Bigruns';
$fonts-body: "Bigruns", sans-serif;  
$fonts-body2: "Electrolize", sans-serif;


$accent1: #387eaf;
$accent2: #0557a4;
$grey-sidebar: #c4c5c6;
$text-dark: #333;
$text-light: #fff;