/* style font from https://www.dafont.com */
@import url("https://fonts.googleapis.com/css?family=Electrolize");
h1, h2, h3, h4, h5, h6 {
  color: #387eaf;
  font-family: "Bigruns", sans-serif;
}

p, a {
  color: #f2efed;
  font-family: "Electrolize", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #387eaf;
  font-family: "Bigruns", sans-serif;
}

p, a {
  color: #f2efed;
  font-family: "Electrolize", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: #f2efed;
  box-sizing: border-box;
}

@font-face {
  font-family: "Bigruns";
  src: url("../Bigruns.ttf");
}
html {
  background-image: url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: black;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.68);
}

#zen-preamble > h3 {
  margin-top: 30px;
}

.intro {
  margin: 20px;
  font-size: 15px;
  width: 26vw;
  position: absolute;
  top: 10vh;
  z-index: 11;
}

.extra1 {
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 290px;
  height: 50px;
}

.extra2 {
  top: 0;
  left: 270px;
  position: absolute;
  width: 800px;
  height: 700px;
}

.extra3 {
  height: 2px;
  width: 50px;
  background: #387eaf;
  margin-top: 25em;
  position: absolute;
  z-index: -10;
  -webkit-animation: pulseLeft 0.95s infinite;
          animation: pulseLeft 0.95s infinite;
}

.extra4 {
  height: 2px;
  width: 50px;
  background: #387eaf;
  margin-top: 14.5em;
  right: 0;
  position: absolute;
  z-index: 0;
  -webkit-animation: transExtra 7s infinite;
          animation: transExtra 7s infinite;
}

@-webkit-keyframes transExtra {
  55% {
    margin-right: 10em;
    width: 60px;
  }
  85% {
    margin-right: 30em;
    width: 80px;
  }
  90% {
    margin-right: 32em;
    width: 80px;
  }
  95% {
    margin-right: 40em;
    width: 80px;
  }
  100% {
    margin-right: 80em;
    width: 100px;
  }
}

@keyframes transExtra {
  55% {
    margin-right: 10em;
    width: 60px;
  }
  85% {
    margin-right: 30em;
    width: 80px;
  }
  90% {
    margin-right: 32em;
    width: 80px;
  }
  95% {
    margin-right: 40em;
    width: 80px;
  }
  100% {
    margin-right: 80em;
    width: 100px;
  }
}
.extra5 {
  height: 2px;
  width: 50px;
  background: #387eaf;
  margin-top: 17.5em;
  right: 0;
  position: absolute;
  z-index: 0;
  -webkit-animation: transExtra 2s infinite;
          animation: transExtra 2s infinite;
}

.extra6 {
  background: url(../assets/logo.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 50px;
  position: absolute;
  right: 0;
  border-radius: 0px 0px 0px 5px;
}

#zen-supporting {
  position: absolute;
  top: 135px;
  left: 38vw;
  height: 560px;
  z-index: 25;
  -webkit-animation: zenFloat 5s infinite;
          animation: zenFloat 5s infinite;
}

.sidebar {
  position: absolute;
  top: 10vh;
  left: 70vw;
  margin: 20px;
}

.wrapper div ul li {
  list-style: none;
}

@-webkit-keyframes zenFloat {
  60% {
    transform: translateY(-30px);
  }
}

@keyframes zenFloat {
  60% {
    transform: translateY(-30px);
  }
}
#zen-supporting div,
#zen-supporting footer {
  background: black;
  height: 250px;
  width: 250px;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  box-shadow: 10px 10px 50px 20px rgba(83, 253, 255, 0.35);
  transition: all 0.3s ease-out;
  padding: 15px;
  text-align: center;
}

#zen-supporting div:hover,
#zen-supporting footer:hover {
  z-index: 11;
  box-shadow: 10px 10px 50px 2000px rgba(83, 253, 255, 0.35);
  width: 300px;
  height: 400px;
  padding: 10px;
  transform-origin: 100% 100%;
}

#zen-supporting div:hover > .aside {
  display: none;
}

#zen-explanation {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(0);
  z-index: 10;
}

#zen-explanation:hover {
  transform: translateY(0) rotateX(20deg) rotateZ(0deg) translateZ(0) scale(1.2);
}

#zen-participation {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(250px);
  z-index: 9;
}

#zen-participation:hover {
  transform: translateY(-250px) rotateX(20deg) rotateZ(0deg) translateZ(0) scale(1.2);
}

#zen-benefits {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(500px);
  z-index: 8;
}

#zen-benefits:hover {
  transform: translateY(-500px) rotateX(20deg) rotateZ(0deg) translateZ(0) scale(1.2);
}

#zen-requirements {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(750px);
  z-index: 7;
}

#zen-requirements:hover {
  transform: translateY(-600px) rotateX(20deg) rotateZ(0deg) translateZ(0) scale(1.2);
}

.sidebar div div h3 {
  text-shadow: 0 0 10px #f2efed;
  -webkit-animation: zenFlicker 2s infinite alternate;
          animation: zenFlicker 2s infinite alternate;
}

@-webkit-keyframes zenFlicker {
  20%, 24%, 75% {
    text-shadow: none;
  }
}

@keyframes zenFlicker {
  20%, 24%, 75% {
    text-shadow: none;
  }
}
.sidebar div div {
  margin-bottom: 20px;
}

.design-name {
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.2em;
}

.designer-name {
  text-align: right;
}

footer {
  transform: rotateX(45deg) rotateZ(45deg) translateZ(1000px);
  z-index: 6;
}

footer:hover {
  transform: translateY(-700px) rotateX(20deg) rotateZ(0deg) translateZ(0) scale(1.2);
}

@media screen and (min-width: 1400px) {
  #zen-supporting {
    left: 40vw;
  }
}
@media screen and (max-width: 900px) {
  .intro {
    height: 225px;
    overflow: scroll;
    width: 100%;
    top: 5%;
    margin: 0;
    padding: 20px;
    border: 1px solid #387eaf;
    z-index: 0;
    box-shadow: 0px -10px 74px 31px rgba(83, 253, 255, 0.35);
  }
  .sidebar {
    height: 280px;
    overflow: scroll;
    left: 0;
    top: 530px;
    width: 100%;
    margin: 0;
    padding: 20px 20px 20px 40px;
    border: 1px solid #387eaf;
    box-shadow: 0px -10px 50px 15px rgba(83, 253, 255, 0.35);
  }
  #zen-supporting {
    position: absolute;
    top: 265px;
    left: 5px;
    height: 225px;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-animation: none;
            animation: none;
  }
  #zen-supporting div,
#zen-supporting footer {
    background: none;
    height: auto;
    width: auto;
    overflow: visible;
    overflow-y: visible;
    position: relative;
    box-shadow: none;
    transition: all 0.3s ease-out;
    padding: 15px;
    text-align: left;
  }
  #zen-supporting div:hover,
#zen-supporting footer:hover {
    box-shadow: none;
    width: inherit;
    height: auto;
    padding: 15px;
    text-align: left;
  }
  #zen-participation,
#zen-explanation,
#zen-benefits,
#zen-requirements,
footer {
    transform: none;
  }
  #zen-participation:hover,
#zen-explanation:hover,
#zen-benefits:hover,
#zen-requirements:hover,
footer:hover {
    transform: none;
  }
  .extra6 {
    width: 70px;
    height: 35px;
    position: absolute;
    right: 0;
    border-radius: 0px 0px 0px 5px;
  }
}/*# sourceMappingURL=style.css.map */